

.text-small{
     margin-bottom: 0px;
}

.title{
    margin-left: 40%;
    width: 65%; 
    height: 10%; 
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-size: xx-large;
    margin-top: auto;
}

.subtitle{
    padding: 5px;
    background-color: #87899c;
    text-align: center;

}

.data-a{
    padding: 3px;
    background-color: #ced7db;
}

.data-b{
    padding: 3px;
    background-color: #b6b2b2;
}

.text-area{
    padding-bottom: 65px;
}
